<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <h2>Rejestracja nowego pacjenta</h2>
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" [(ngModel)]="user.username" minlength="5" class="form-control" id="name" name="name"
            required #name="ngModel">
        </div>

        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="password" [(ngModel)]="user.password" minlength="6" class="form-control" id="password"
            name="password" required #name="ngModel">
        </div>


        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>

      </form>
    </div>
  </div>
</div>